.git
.github
.gitignore

node_modules

.vscode
.idea

.env
.env.*

*.log
npm-debug.log*

coverage
test
tests
__tests__

Dockerfile
.dockerignore
docker-compose.yml
docker-compose.yaml

README.md

.DS_Store
Thumbs.db